src/cv.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema erstellt mit XMLSpy v2010 rel. 2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:include schemaLocation="globals.xsd"/>
    <xs:complexType name="phoneType">
        <xs:sequence>
            <xs:element name="countryCode">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="\d{2}"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="areaCode">
                <xs:simpleType>
                    <xs:restriction base="xs:integer">
                        <xs:pattern value="\d{2}"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="number">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="\d{3}\s\d{2}\s\d{2}"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="type" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="homePhone"/>
                    <xs:enumeration value="cellPhone"/>
                    <xs:enumeration value="businessPhone"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="addressType">
        <xs:sequence>
            <xs:element name="street" type="xs:string"/>
            <xs:element name="streetnumber" type="xs:string"/>
            <!-- TODO: restrict to numbers < 99999-->
            <xs:element name="zip">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:integer">
                            <xs:attribute name="countryIsoCode" use="required">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:pattern value="[A-Z]{1,3}"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:attribute>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="location" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="contactType">
        <xs:sequence>
            <xs:element name="address" type="addressType" minOccurs="0"/>
            <xs:sequence maxOccurs="unbounded">
                <xs:element name="phone" type="phoneType"/>
            </xs:sequence>
            <xs:element name="email">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="\S+[@]{1}\S+[.]{1}\S+"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="basePersonType">
        <xs:sequence>
            <xs:element name="forename"/>
            <xs:element name="name"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="personType">
        <xs:complexContent>
            <xs:extension base="basePersonType">
                <xs:sequence>
                    <xs:element name="title" type="xs:string"/>
                    <xs:element name="contact" type="contactType"/>
                    <xs:element name="experience" type="xs:integer"/>
                    <xs:element name="birthday" type="dateType"/>
                    <xs:element name="hometown" type="xs:string" minOccurs="0"/>
                    <xs:element name="maritalStatus" type="xs:string"/>
                    <xs:element name="picture" type="xs:anyURI"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="companyType">
        <xs:attribute name="name" type="xs:string"/>
        <xs:attribute name="logo" type="xs:anyURI"/>
    </xs:complexType>
    <xs:complexType name="paragraphType">
        <xs:attribute name="title" type="xs:string" use="required"/>
    </xs:complexType>
    <xs:complexType name="skillgroupType">
        <xs:complexContent>
            <xs:extension base="paragraphType">
                <xs:sequence>
                    <xs:element name="solidskill" type="weightedSkillgroupType" minOccurs="0"/>
                    <xs:element name="goodskill" type="weightedSkillgroupType" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="weightedSkillgroupType">
        <xs:sequence>
            <xs:element name="skill" type="skillType" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="etc" type="xs:boolean"/>
    </xs:complexType>
    <xs:complexType name="skillsType">
        <xs:complexContent>
            <xs:extension base="paragraphType">
                <xs:sequence>
                    <xs:element name="skillgroup" type="skillgroupType" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="skillType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="id" type="xs:ID"/>
                <xs:attribute name="logo" type="xs:anyURI"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="descriptionType" mixed="true">
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="italic" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="activityType">
        <xs:sequence>
            <xs:choice minOccurs="0">
                <xs:element name="date" type="dateType"/>
                <xs:sequence>
                    <xs:element name="from" type="dateType"/>
                    <xs:element name="to" type="dateType"/>
                </xs:sequence>
            </xs:choice>
            <xs:sequence>
                <xs:element name="title" type="xs:string" minOccurs="0"/>
                <xs:element name="description" type="descriptionType" minOccurs="1"/>
                <xs:element name="skillrefs" type="skillrefsType" minOccurs="0"/>
                <xs:element name="certificate" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:sequence>
        <xs:attribute name="logo" type="xs:anyURI"/>
        <xs:attribute name="link" type="xs:anyURI"/>
        <xs:attribute name="id" type="xs:string"/>
    </xs:complexType>
    <xs:complexType name="activitiesType">
        <xs:complexContent>
            <xs:extension base="paragraphType">
                <xs:sequence>
                    <xs:element name="activity" type="activityType" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="projectType">
        <xs:sequence>
            <xs:sequence>
                <xs:element name="activity" type="xs:string" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:element name="skillrefs" type="skillrefsType" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:string"/>
        <xs:attribute name="title" type="xs:string" use="required"/>
    </xs:complexType>
    <xs:complexType name="experianceType">
        <xs:sequence>
            <xs:element name="period" type="periodType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="periodType">
        <xs:sequence>
            <xs:element name="company" type="companyType"/>
            <xs:element name="from" type="dateType"/>
            <xs:element name="to" type="dateType"/>
            <xs:element name="function" type="xs:string"/>
            <xs:element name="project" type="projectType" maxOccurs="unbounded"/>
            <xs:element name="skillrefs" type="skillrefsType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="skillrefsType">
        <xs:sequence>
            <xs:element name="skillref" type="xs:IDREF" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="location" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="right"/>
                    <xs:enumeration value="bottom"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="orientation" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="vertical"/>
                    <xs:enumeration value="horizontal"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="experiancesType">
        <xs:complexContent>
            <xs:extension base="paragraphType">
                <xs:sequence>
                    <xs:element name="experiance" type="experianceType" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="languangeType">
        <xs:complexContent>
            <xs:extension base="skillType">
                <xs:attribute name="level" use="required">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="native"/>
                            <xs:enumeration value="fluent"/>
                            <xs:enumeration value="good"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="languagesType">
        <xs:complexContent>
            <xs:extension base="paragraphType">
                <xs:sequence>
                    <xs:element name="skill" type="languangeType" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="hobbysType">
        <xs:complexContent>
            <xs:extension base="paragraphType">
                <xs:sequence>
                    <xs:element name="hobby" type="xs:string" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="referenceType">
        <xs:complexContent>
            <xs:extension base="basePersonType">
                <xs:sequence>
                    <xs:element name="position" type="xs:string"/>
                    <xs:element name="contact" type="contactType" minOccurs="0"/>
                    <xs:element name="company" type="companyType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="referencesType">
        <xs:complexContent>
            <xs:extension base="paragraphType">
                <xs:sequence>
                    <xs:element name="reference" type="referenceType" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
                <xs:attribute name="ondemande" type="xs:boolean"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="beginType">
        <xs:complexContent>
            <xs:extension base="paragraphType">
                <xs:sequence>
                    <xs:element name="date" type="dateType" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="immediatly" type="xs:boolean"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="cv">
        <xs:complexType>
            <xs:all>
                <xs:element name="layout" type="layoutType"  minOccurs="0"/>
                <xs:element name="person" type="personType"/>
                <xs:element name="skills" type="skillsType"/>
                <xs:element name="career" type="activitiesType" minOccurs="0" />
                <xs:element name="educations" type="activitiesType" minOccurs="0" />
                <xs:element name="trainings" type="activitiesType"/>
                <xs:element name="certificats" type="activitiesType" minOccurs="0"/>
                <xs:element name="projects" type="activitiesType" minOccurs="0"/>
                <xs:element name="experiences" type="experiancesType" minOccurs="0"/>
                <xs:element name="languages" type="languagesType"/>
                <xs:element name="hobbys" type="hobbysType" minOccurs="0"/>
                <xs:element name="references" type="referencesType" minOccurs="0"/>
                <xs:element name="begin" type="beginType" minOccurs="0"/>
            </xs:all>
            <xs:attribute name="international" type="xs:boolean"/>
        </xs:complexType>

        <xs:key name="skillKey"  >
            <xs:selector xpath=".//skill" />
            <xs:field xpath="@id" />
        </xs:key>

        <xs:keyref name="skillRef" refer="skillKey">
            <xs:selector xpath=".//skillref" />
            <xs:field xpath="@id" />
        </xs:keyref>
    </xs:element>
</xs:schema>
